/* GENERALS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto; 
}
body{
    font-family: "Helvetica Neue", Arial, sans-serif;
}
ul,
ol{
    list-style: none;
}

.col-33{
    width: calc(100%/3);
}

/* HEADER */

.bg-orange{
    background-color: orange;
}
/* MAIN */
main{
    display:flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    margin-top: 50px;
}

img{
    width: 250px;
}
.image-caption{
    margin-top: 2px;
}

.color-red{
    color: red;
}
.line-th{
    text-decoration: line-through;
}
.strong-caption{
    font-weight: bold;
    text-transform: uppercase;
}
.small-caption{
    font-size: 13px;
}
.cuore{
    width: 20px;
    align-items: center;
}
.heart-cont{
    background-color: white;
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    justify-content: center; 
    bottom: 300px;
    left: 220px;
}

.sconto-e-targ{
    display: flex;
    font-size: 13px;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    color: white;
}
.bg-red{
    background-color: red;
    padding: 3px 6px;
    margin:0;
}
.bg-green{
    background-color: green;
    padding: 3px 6px;
    margin: 0 3px;
}
.container{
    position: relative;
}
/* DEBUG RULES */
/* 
.debug .container{
    border: 2px dashed black;    
}
.debug .row{
    border:2px dashed black;
    padding: 16px;
}
.debug .row-ft{
    border:2px dashed black;
    padding: 3px 15px;
    background-color:pink ;
    gap: 400px;
}

.p-35 .row{
    border: 2px dashed black;
}

.debug .bg-acqua{
    border: 2px dashed white;   
} */
